<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于 | APACloudStorage</title>
    <style>
        body {
            text-align: center;
        }
        button {
            margin: 10px;
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <h1>关于</h1>
    <p><%= ip %>，欢迎你</p>
    <p>APACloudStorage 由 <a href="https://apakp.top/" target="_blank">ApartKP</a> 开发，仅供内部使用</p>
    <button onclick="window.open('mailto:admin@apakp.top')">联系我们</button>
    <button onclick="window.open('/q')">加入 QQ 群</button>
    <hr><footer>&copy; APACloudStorage 2026. 保留所有权利。</footer>
</body>
</html>