<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于 | APACloudStorage</title>
</head>
<body>
    <h1>关于</h1>
    <p><%= ip %>，欢迎你</p>
    <p>APACloudStorage 由 <a href="https://apakp.top/" target="_blank">ApartKP</a> 开发，仅供内部使用</p>
    <a href="/">返回主页</a>
</body>
</html>