<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码 | APACloudStorage</title>
    <style>
        body {
            text-align: center;
        }
        input {
            margin: 10px;
            padding: 10px 20px;
        }
        input[type="submit"] {
            margin: 10px;
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <h1>修改密码</h1>
    <p><%= ip %>，欢迎你</p>
    <form action="/api/change-password" method="post">
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="oldPassword">旧密码:</label>
        <input type="password" id="oldPassword" name="oldPassword" required>
        <br>
        <label for="newPassword">新密码:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <br>
        <input type="submit" value="修改密码">
    </form>
    <hr><footer>&copy; APACloudStorage 2026. 保留所有权利。</footer>
</body>
</html>
